<section class="padding-medium bg-gray">
  <div class="container">

    <h3 class="text-center mb-4">Galería</h3>

    <div class="row">

      {{#imagenes}}
      <div class="col-md-4" style="padding-bottom: 10px;">
        <img 
          src="{{url_img}}" 
          class="gallery-img"
          data-img="{{url_img}}"
        >
      </div>
      {{/imagenes}}

    </div>

  </div>
</section>

<div class="modal fade" id="modalImagen" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background: transparent; border: none;">
      
      <button class="btn-cerrar-video">&times;</button>

      <div class="modal-body text-center p-0">
        <img id="imgModal" src="" style="width:100%; border-radius:10px;">
      </div>

    </div>
  </div>
</div>