<!-- Footer -->
<footer>
  <div class="container">
    <div class="d-flex flex-wrap gap-3 mb-4 pb-3 border-bottom border-secondary justify-content-between align-items-center">
      <div class="d-flex flex-wrap gap-3 text-uppercase">
        {{#nav_left}}
        <a href="{{url}}">{{titulo}}</a>
        {{/nav_left}}
        {{#nav_right}}
        <a href="{{url}}">{{titulo}}</a>
        {{/nav_right}}
      </div>
      <a href="#" class="btn-cat-pill btn-cat-pill-sm">
        <span class="pill-text">CANAL DE DENUNCIAS</span>
        <span class="pill-circle"><i class="fa-solid fa-triangle-exclamation fa-2xs"></i></span>
      </a>
    </div>
    <p class="mb-1 text-light small-body-text">FERREYROS S.A. - RUC: 20100028838</p>
    <p class="mb-3 text-secondary small-body-text">COPYRIGHT © FERREYROS 2026. TODOS LOS DERECHOS RESERVADOS. VISITAS: {{visitas}}</p>
  </div>
</footer> 
