<header class="site-header sticky" id="header">
	<nav class="navbar navbar-expand-lg px-3" id="header-nav">
		<div class="container">

			<a class="navbar-brand d-lg-none" href="{{url_inicio}}">
				<img class="logo" src="{{logo}}"/>
			</a>

			<button aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler d-flex d-lg-none order-3 p-2"
				data-bs-target="#bdNavbar" data-bs-toggle="offcanvas" type="button">
				Menu
			</button>

			<div aria-labelledby="bdNavbarOffcanvasLabel"
				class="offcanvas offcanvas-end" id="bdNavbar" tabindex="-1">

				<div class="offcanvas-header px-4 pb-0">
					<a class="navbar-brand" href="#">
						<img class="logo" src="{{logo}}"/>
					</a>

					<button aria-label="Close"
						class="btn-close btn-close-black"
						data-bs-dismiss="offcanvas"
						data-bs-target="#bdNavbar"
						type="button">
					</button>
				</div>

				<div class="offcanvas-body">
					<ul class="navbar-nav w-100 d-flex justify-content-between align-items-center" id="navbar">

						<!-- IZQUIERDA -->
						<ul class="list-unstyled d-lg-flex justify-content-md-between align-items-center">
							{{#nav_left}}
							<li class="nav-item">
								<a class="nav-link ms-0" href="{{url}}">
									{{titulo}}
								</a>
							</li>
							{{/nav_left}}
						</ul>

						<!-- LOGO CENTRAL -->
						<a class="navbar-brand d-none d-lg-block me-0" href="{{url_inicio}}">
							<img class="logo" src="{{logo}}"/>
						</a>

						<!-- DERECHA -->
						<ul class="list-unstyled d-lg-flex justify-content-md-between align-items-center">
							{{#nav_right}}
							<li class="nav-item">
								<a class="nav-link ms-0" href="{{url}}">
									{{titulo}}
								</a>
							</li>
							{{/nav_right}}
						</ul>

					</ul>
				</div>

			</div>
		</div>
	</nav>
</header>