<section class="product-store position-relative" id="products">
	<div class="container display-header d-flex flex-wrap justify-content-between pb-4">
		<h3 class="mt-3">{{products_title}}</h3>

		<div class="btn-right d-flex flex-wrap align-items-center">
			<a class="btn me-5" href="{{products_url}}">
				{{products_btn}}
			</a>

			<div class="swiper-buttons">
				<button class="swiper-prev product-carousel-prev me-2">
					<span class="circle-btn">
						<i class="fa fa-angle-left"></i>
					</span>
				</button>

				<button class="swiper-next product-carousel-next">
					<span class="circle-btn">
						<i class="fa fa-angle-right"></i>
					</span>
				</button>
			</div>
		</div>
	</div>

	<div class="swiper product-swiper">
		<div class="swiper-wrapper">

			{{#products}}
			<div class="swiper-slide" style="width: 256px; margin-right: 20px;">
				<div class="product-card position-relative">

					<div class="image-holder zoom-effect">
						<img class="img-fluid zoom-in especialidad-img" src="{{img}}" alt="product-item"/>
					</div>

					<div class="card-detail text-center pt-3 pb-2">
						<h5 class="card-title fs-3 text-capitalize">
							<a href="{{url}}">{{titulo}}</a>
						</h5>
					</div>

				</div>
			</div>
			{{/products}}

		</div>
	</div>
</section>