<script src="assets/modernizr.js"></script>
<script src="assets/jquery-1.11.0.min.js"></script>
<script src="assets/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="assets/plugins.js" type="text/javascript"></script>
<script src="assets/script.js?v={{version}}" type="text/javascript"></script>
<script>

	$(document).ready(function(){

  // 🔥 CLICK MANUAL
  $('.video-thumb').click(function(){

    var videoURL = $(this).data('video');

    var finalURL = videoURL.includes('?') 
      ? videoURL + "&autoplay=1"
      : videoURL + "?autoplay=1";

    $('#iframeVideoInicio').attr('src', finalURL);

    $('#modalVideoInicio').modal('show');

  });

  // 🔥 VIDEO INICIO AUTOMÁTICO
  var videoInicio = $('#modalVideoInicio').data('video');

  if(videoInicio){

    var finalURL = videoInicio.includes('?') 
      ? videoInicio + "&autoplay=1&muted=1"
      : videoInicio + "?autoplay=1&muted=1";

    setTimeout(function(){

      $('#iframeVideoInicio').attr('src', finalURL);

      $('#modalVideoInicio').modal('show');

    }, 800);

  }

  // 🔥 LIMPIAR
  $('#modalVideoInicio').on('hidden.bs.modal', function () {
    $("#iframeVideoInicio").attr("src", "");
  });

});
</script>