<section class="position-relative padding-xlarge" id="testimonials">
	<div class="container">
		<div class="row">
			<div class="offset-md-2 col-md-8">

				<h3 class="text-center mb-5">
					{{testimonials_title}}
				</h3>

				<div class="review-content position-relative">
					<div class="swiper testimonial-swiper">
						<div class="swiper-wrapper">

							{{#testimonials}}
							<div class="swiper-slide text-center d-flex justify-content-center">
								<div class="review-item">

									<blockquote class="fs-1 fw-light">
										“{{{contenido}}}”
									</blockquote>

									<div class="author-detail">
										<div class="name fw-bold text-uppercase pt-2">
											{{titulo}}
										</div>
									</div>

								</div>
							</div>
							{{/testimonials}}

						</div>
					</div>
				</div>

				<div class="swiper-buttons text-center mt-5">
					<button class="swiper-prev testimonial-arrow-prev me-2">
						<i class="fa fa-arrow-left" style="font-size:41px;"></i>
					</button>

					<span>|</span>

					<button class="swiper-next testimonial-arrow-next ms-2">
						<i class="fa fa-arrow-right" style="font-size:41px;"></i>
					</button>
				</div>

			</div>
		</div>
	</div>
</section>