<footer>
  <div class="container">
    <div class="d-flex flex-wrap gap-3 mb-4 pb-3 border-bottom border-secondary justify-content-between align-items-center">
      <div class="d-flex flex-wrap gap-3 text-uppercase">
        <a href="{{url_inicio}}">Inicio</a>
        {{#nav_left}}
        <a href="{{url}}">{{titulo}}</a>
        {{/nav_left}}
        {{#nav_right}}
        <a href="{{url}}">{{titulo}}</a>
        {{/nav_right}}
      </div>
      <a href="{{url_whatsapp}}" target="_blank" class="btn-cat-pill btn-cat-pill-sm">
        <span class="pill-text">WHATSAPP DIRECTO</span>
        <span class="pill-circle"><i class="fa-brands fa-whatsapp fa-2xs"></i></span>
      </a>
    </div>
    <p class="mb-1 text-light small-body-text">{{title}}</p>
    <p class="mb-3 text-secondary small-body-text">COPYRIGHT © 2026 MRG. TODOS LOS DERECHOS RESERVADOS. VISITAS: {{visitas}}</p>
  </div>
</footer>